<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Achuar Movie</title>
  <meta name="description" content="Meet Chumpi, a young indigenous Achuar boy from Chicherta Village in the remote headwaters of an Amazon tributary deep in the Peruvian rainforest.">
  <meta name="author" content="Amazon Watch">
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:type" content="video.other"/>
  <meta property="og:url" content="https://www.achuarmovie.org/"/>
  <meta property="og:image" content="https://s3.amazonaws.com/achuarmovie/assets/chumpi-cropped.jpg"/>
  <meta property="og:site_name" content="Achuar Movie"/>
  <meta property="og:video" content="https://vimeo.com/moogaloop.swf?clip_id=35462613&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=1&amp;color=00adef&amp;fullscreen=1&amp;autoplay=1&amp;loop=0" />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta property="og:description"
        content="Meet Chumpi, a young indigenous Achuar boy from Chicherta Village in the remote headwaters of an Amazon tributary deep in the Peruvian rainforest."/>

  <!-- Styles -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat&text=ABCDEFGHIJKLMNOPQRSTUVQXYZ%20%26' rel='stylesheet' type='text/css'>
  <!--[if (!IE)|(gte IE 8)]><!-->
    <link href="assets/page.css" media="screen" rel="stylesheet" type="text/css" />
  <!--<![endif]-->
  <!--[if lte IE 7]>
    <link href="/assets/page.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/yepnope/1.5.4/yepnope.min.js"></script>

  <script type="text/javascript">
    window._gaq = [['_setAccount','UA-28551290-1'],['_trackPageview']];
    yepnope({
      load: ['//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',
             'assets/site.js',
             (document.location.protocol === 'https:' ? '//ssl' : 'http://www') + '.google-analytics.com/ga.js'
            ]
    });
  </script>
  
</head>
<body>
{% include nav.html %}
{% include share.html %}
{{ content }}
{% include footer.html %}
</body>
</html>